@media only screen and (max-width:780px){
  .phone-header{
    display: inline-block !important;
    height: 50px;
  }

  .header{
    display: none;
  }

  .fa-bars{
    padding: 10px;
  }

  .phone-sidebar{
    display: inline-block !important;
    width: 0px;
    height: 100vh;
    margin-left: -44px;
    background: red;
    position: fixed;
    -webkit-transition:  width 0.1s ease-in;
         -moz-transition: width 0.1s ease-in;
              transition: width 0.1s ease-in;
  }
}

.phone-sidebar{
  display: none;
}

.phone-header{
  display: none;
}

.header{
  height: 100px;
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
}



.joelbuhrman{
  width: calc(100% - 360px) !important;
  text-align: left !important;
  display: inline-block;
  text-align: left;
  font-size: 30px !important;
}

.headerComponent{
  display: inline-block;
  width: 120px;
  font-size: 20px;
  margin-top: calc(50px - 10px);
  text-align: center;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: #aaa;
}


.selected{
  border-bottom: 1px solid white;
}

.selected:hover{
  border-bottom: 1px solid #aaa;
}
