.header{
  height: 100px;
  width: 100%;
}

.joelbuhrman{
  width: 50% !important;
  text-align: left !important;
  display: inline-block;
  text-align: left;
  font-size: 30px !important;
}

.headerComponent{
  display: inline-block;
  width: 12%;
  font-size: 20px;
  margin-top: calc(50px - 10px);
  text-align: center;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: #aaa;

}
