.header{
  height: 100px;
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
}



.joelbuhrman{
  width: 64% !important;
  text-align: left !important;
  display: inline-block;
  text-align: left;
  font-size: 30px !important;
}

.headerComponent{
  display: inline-block;
  width: 12%;
  font-size: 20px;
  margin-top: calc(50px - 10px);
  text-align: center;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: #aaa;

}


.selected{
  border-bottom: 1px solid white;
}

.selected:hover{
  border-bottom: 1px solid #aaa;
}
