body{
  margin: 0;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.container{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 70px;
  padding-top: 100px;
  overflow: auto;
  margin-bottom: 100px;
  padding-bottom: 100px;
  background: rgba(255,255,255,0.8);
  border-radius: 20px;
  box-shadow: 5px 5px 5px var(--box-shadow-color);
  --box-shadow-color: black;
}

.App {
  overflow: auto;
  position: relative;
  color: white;
  font: 14px/1.75em "Lucida Grande", Lucida, helvetica, Arial, verdana, sans-serif;
}
.App:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(50, 50, 50, 0.7)
    ),
  url('https://whatsonmyblackboard.files.wordpress.com/2015/10/commonroomsept2015.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;
}
