.course{
  color: #555;
  width: calc(100% - 20px);
  font-size: 20px;
  padding: 2px 10px;
  border-radius: 2px;
  cursor: pointer;
}
.course:hover{
  background: rgba(189, 189, 180, 0.95);
}
.title{
  width: 95%;
  display: inline-block;
  margin-top: 5px;
}

.grade{
  width: 5%;
  display: inline-block;
  text-align: right;
}

.grades{
  margin-top: 20px;
  display: inline-block;
  height: calc(100vh - 100px);
  width: 100%;
}



.avg{
  font-size: 100px;
  text-shadow: 1px 1px 1px black;
}

.average{
  width: calc(50% - 2px);
  display: inline-block;
  float: left;
  text-align: center;
}

.divider{
  height: 100px;
  width: 1px;
  background: #aaa;
  display: inline-block;
  margin-top: -30px;
}

.hp{
  width: 50%;
  display: inline-block;
  text-align: center;
}

.year{
  margin-top: 50px;
  color: black;
  font-weight: bold;
  margin-left: 10px;
}
